/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro:wght@600&display=swap");
/* Misc */
/* Colours */
/* Fonts Families */
/* Fonts Sizes */
/* Maps */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* End Reset CSS */
/* Main */
main {
  margin: 0px;
  grid-area: main; }

/* End Main */
/* ied */
a {
  text-decoration: none;
  color: #424242; }

ul {
  padding: 0px; }

header {
  align-content: center;
  margin-top: 20px;
  grid-area: header; }

/* End Varied */
/* Partial */
/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* End Header */
/* Nav Bar */
.logo {
  max-width: 85px; }

.navLista {
  display: inline;
  margin: 45px; }

.navTexto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #000;
  list-style-type: none;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px; }

.navbar-toggler {
  border: var(--bs-border-width) solid #fff; }

.navbar-toggler-icon {
  width: 2em;
  height: 2em; }

/* End Nav Bar */
/* Mobile Styles */
@media screen and (max-width: 991px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly; }
  .navTexto {
    font-size: 1rem;
    text-align: left; } }

@media screen and (max-width: 425px) {
  .logo {
    width: 75px; } }

/* Footer */
.logo {
  max-width: 85px; }

.footerTodo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px;
  justify-content: space-around;
  grid-area: footer;
  column-gap: 10px; }

.footerTexto {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #424242;
  list-style-type: none;
  text-align: left; }

.footerTexto__Titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #424242;
  text-align: left;
  font-weight: 600; }

/* End Footer */
/* Mobile Styles */
@media screen and (max-width: 500px) {
  .footerTodo {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 25px; }
  .footerTexto {
    text-align: center; }
  .footerTexto__Titulo {
    text-align: center; } }

/* Views */
.contactoTitulo {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 2px #000;
  text-align: center; }

.contactoSecciones {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 20px; }

.contactoCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  padding: 30px;
  background-color: #F0F0F0;
  margin: 20px;
  border-radius: 20px; }

.rotadorInterno__Fondo {
  background-image: url("../img/imgrotador-2.jpg");
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }

.texto__TituloCentrado {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #37AE88;
  text-align: center;
  margin: 10px;
  text-transform: uppercase; }

.texto__Descripcion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #424242;
  text-align: left;
  margin: 20px 10px 10px 10px; }

/* Mobile Styles */
@media screen and (max-width: 500px) {
  .contactoCard {
    width: 100%;
    margin: 10px; } }

@media screen and (max-width: 425px) {
  .contactoTitulo {
    font-size: 3rem; }
  .contactoSecciones {
    margin: 0px; } }

.rotadorInterno__Fondo {
  background-image: url("../img/imgrotador-2.jpg");
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }

.nosotrosTitulo {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 2px #000;
  text-align: center; }

.nosotrosSecciones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
  margin: 50px 100px 50px 100px;
  align-items: center; }

.textoNosotros__Titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #37AE88;
  text-align: left;
  margin: 20px 10px 10px 10px;
  text-transform: uppercase; }

.textoNosotros__Descripcion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #424242;
  text-align: left;
  margin: 20px 10px 10px 10px; }

.pastelera__Img {
  margin-left: 60px; }

.pastelera__Contenedor {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  animation-duration: 5s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Mobile Styles */
@media screen and (max-width: 991px) {
  .nosotrosSecciones {
    flex-direction: column;
    padding: 30px;
    margin: 60px 15px 60px 15px;
    flex-wrap: wrap; }
  .pastelera__Img {
    width: 100%;
    margin: 20px 10px 10px 10px;
    align-items: center; }
  .textoNosotros__Descripcion {
    text-align: center; }
  .textoNosotros__Titulo {
    text-align: center; }
  .pasteleraImg {
    width: 80%; } }

@media screen and (max-width: 425px) {
  .nosotrosTitulo {
    font-size: 3rem; }
  .textoNosotros__Titulo {
    font-size: 1.3rem; }
  .textoNosotros__Descripcion {
    font-size: 1rem; } }

.rotadorInterno__Fondo {
  background-image: url("../img/imgrotador-2.jpg");
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }

.pedidosTitulo {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 2px #000;
  text-align: center; }

.pedidosSecciones {
  justify-content: center;
  padding: 50px;
  background-color: #F0F0F0;
  margin: 50px 70px 100px 70px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  align-content: center; }

.texto__TituloCentrado {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #37AE88;
  text-align: center;
  margin: 10px;
  text-transform: uppercase; }

.texto__Descripcion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #424242;
  text-align: left;
  margin: 20px 10px 10px 10px; }

.gridPedidos__ImagenesProductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 50px;
  column-gap: 20px;
  padding: 40px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%; }

/* Mobile Styles */
@media screen and (max-width: 1024px) {
  .gridPedidos__ImagenesProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto); } }

@media screen and (max-width: 673px) {
  .gridPedidos__ImagenesProductos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto); }
  .texto__Descripcion {
    font-size: 1rem;
    text-align: center; }
  .texto__TituloCentrado {
    font-size: 1.3rem;
    text-align: center; } }

@media screen and (max-width: 425px) {
  .pedidosSecciones {
    margin: 35px 30px 55px 30px;
    padding: 30px; }
  .pedidosTitulo {
    font-size: 3rem; } }

.productosTitulo {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 2px #000;
  text-align: center; }

.productosInternos__Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #F0F0F0;
  border-radius: 20px;
  padding: 40px;
  margin: 100px; }

.productosInternos__Img {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.rotadorInterno__Fondo {
  background-image: url("../img/imgrotador-2.jpg");
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center; }

.productosTexto__Titulos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #37AE88;
  text-align: left;
  text-transform: uppercase;
  margin: 20px; }

.productosTexto__Descripcion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #424242;
  text-align: left;
  margin: 20px; }

/* Mobile Styles */
@media screen and (max-width: 900px) {
  .productosInternos__Cards {
    flex-wrap: nowrap;
    margin: 15px;
    flex-direction: column;
    padding: 30px; }
  .productosInternos__Img {
    margin: 0px; }
  .productosTexto__Titulos {
    text-align: center;
    margin: 15px 15px 0px 15px; }
  .productosTexto__Descripcion {
    text-align: center;
    margin: 10px;
    font-size: 1rem; } }

@media screen and (max-width: 425px) {
  .productosTexto__Titulos {
    font-size: 1.3rem; }
  .productosTitulo {
    font-size: 3rem; } }

.grid {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5px; }

.indexTitulo {
  color: #ffffff;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 7rem;
  text-shadow: 0.5px 0.5px 2px #000; }

.indexTexto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #424242;
  text-align: center;
  padding: 40px;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: 1; }

.separador {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center; }
  .separadorImg {
    width: 100%;
    padding: 0px 20px 0px 20px; }

.productosCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px; }
  .productosCard__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 25px; }
  .productosCard__img {
    width: 100%;
    transition: width 0,5s; }

.cardProductos__img:hover {
  width: 105%; }

.button, .button-medio {
  background-color: #39c37b;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 12px;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px; }

.button-medio {
  background-color: #b5f2d2;
  color: #000; }

.indexTitulo-xlarge {
  font-size: 10rem; }

.indexTitulo-large {
  font-size: 5rem; }

.indexTitulo-xmedium {
  font-size: 3rem; }

.indexTitulo-medium {
  font-size: 1.5rem; }

.indexTitulo-small {
  font-size: 1.3rem; }

.indexTitulo-smaller {
  font-size: 1rem; }

/* Animations */
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp-icon {
  margin-top: 13px; }

/* Mobile Styles */
@media screen and (max-width: 770px) {
  .whatsapp {
    display: none; } }

@media screen and (max-width: 600px) {
  .indexTitulo {
    font-size: 3rem; }
  .indexTexto {
    font-size: 1.3rem; } }

@media screen and (max-width: 425px) {
  .productosCards {
    flex-direction: column; } }
