/* Footer */

.logo{
    max-width: 85px;
}

.footer{
    &Todo{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 30px;
        justify-content: space-around;
        grid-area: footer;
        column-gap: 10px;
    }
    &Texto{
        font-family: 'Montserrat', sans-serif;
        font-size: $text-smaller;
        color: $text-color;
        list-style-type: none;
        text-align: left;
    }
    &Texto__Titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: $text-smaller;
        color: $text-color;
        text-align: left;
        font-weight:600;
    }
}

/* End Footer */

/* Mobile Styles */

@media screen and (max-width: 500px) {
    .footerTodo{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 25px;
    }
    .footerTexto{
        text-align: center;
    }
    .footerTexto__Titulo{
        text-align: center;
    }
}