/* Header */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End Header */

/* Nav Bar */

.logo{
    max-width: 85px;
}

.navLista{
    display: inline;
    margin: 45px;
}

.navTexto{
    font-family: $font-principal;
    font-size: $text-small;
    color: #000;
    list-style-type: none;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* End Nav Bar */

/* Mobile Styles */
@media screen and (max-width: 991px) {
    .header{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 425px) {
    .logo{
        width: 75px;
    }
}