/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* End Reset CSS */

/* Main */
main {
    margin: 0px;
    grid-area: main;
}

/* End Main */

/* ied */

a {
    text-decoration: none;
    color: $text-color;
}

ul {
    padding: 0px;
}

header {
    align-content: center;
    margin-top: 20px;
    grid-area: header;
}

/* End Varied */